* {
    &,
    &:before,
    &:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

a {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $color-bg;
    color: $color-primary;
}

.container {
    $dp: 30px;
    padding: 0 8px;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1255px + #{$dp});

    @include media-up($sm) {
        padding: 0 $dp;
    }

    &__half {
        width: 50%;
    }
}

.color {
    &--muted {
        color: $color-secondary;
    }

    &--yellow {
        color: $color-yellow;
    }
}