.btn {
    padding: 23px 25px 21px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.01em;


    &--white {
        background-color: $color-primary;
        border: 1px solid $color-yellow;

        &:hover {
            background-color: $color-yellow;
        }
    }

    &--yellow {
        background-color: $color-yellow;
        box-shadow: 0 0 30px rgba(255, 222, 0, 0.35), inset 0 -2px 2px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25);
        }
    }
}