.btn {
    padding: 20px 26.5px 19px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
    @include font(16px, 21px);
    letter-spacing: 0.01em;
    color: $color-dark;


    &--white {
        background-color: $color-primary;
        border: 1px solid $color-yellow;

        &:hover {
            background-color: $color-yellow;
        }
    }

    &--yellow {
        background-color: $color-yellow;
        box-shadow: 0 0 30px rgba(255, 222, 0, 0.35), inset 0 -2px 2px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: 0 0 0px 0px rgba(255, 222, 0, 0.35), inset 0 -2px 2px rgba(0, 0, 0, 0.25);
        }
    }

    &:active {
        transition: all 0.15s ease-in-out;
        transform: translateY(4px);
        box-shadow: none;
    }
}

.pulse {
    position: absolute;
    top: -8px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $color-orange;
    background-color: $color-orange;
    z-index: -1;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 1px solid $color-orange;
        border-radius: 50%;
        animation: pulse 3s ease infinite;
    }

    &:after {
        animation-delay: 1s;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
}

.bg-item {
    display: none;

    @include media-up($lg - 1) {
        &--dots {
            top: -30%;
            left: 0;
            margin: -8px -6.5px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 126px;

            li {
                margin: 8px 6.5px;
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $color-bg-dots;
                opacity: 0.5;
                transition: all 0.15s ease-in-out;
                cursor: pointer;

                &:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    display: block;
                    transform: scale(3);
                }

                &:hover {
                    transform: scale(2);
                }
            }
        }

        &--square {
            display: block;
            top: -12%;
            left: -18%;
            width: 30px;
            height: 30px;
            opacity: 0.4;
            border: 5px solid $color-bg-square;
            transform: rotate(45deg);
            transition: all 0.25s ease-in-out;
            cursor: pointer;

            &:hover {
                border-width: 15px;
                transform: rotate(-45deg);
            }
        }

        &--x {
            bottom: 7%;
            left: -34%;
            display: inline-block;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -7%;
                right: 32%;
                width: 8.13px;
                height: 34.09px;
                background-color: $color-bg-x;
                opacity: 0.4;
                transition: all 0.25s ease-in-out;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {
                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }
        }

        &--trapezoid {
            width: 46.64px;
            height: 59.31px;
            display: inline-block;

            &-up {
                top: -35px;
                right: 220px;
                transform: rotate(180deg);
            }

            &-down {
                bottom: 58px;
                left: -168px;
            }
        }
    }
}