.hero {
    overflow: hidden;

    &__tringle {
        bottom: 7px;
        right: 0px;
        width: 100vw;
        overflow: hidden;
    }

    &__container {
        padding-top: 27px;

        @include media-up($sm) {
            padding-top: 72px;
            padding-bottom: 178px;
        }
    }

    &__title {
        padding-bottom: 46px;
        @include font(24px, 29px);

        p {
            position: relative;
        }

        @include media-up($sm) {
            padding-bottom: 44px;
            @include font(48px, 58px);
        }
    }

    &__subtitle {
        padding-bottom: 8px;
    }

    &__content {
        display: flex;

        .container__half:first-child {
            display: flex;
            flex-direction: column;

            p:last-child {
                margin-top: auto;
            }
        }
    }

    &__payment {
        padding: 4px 0 32px;
    }

    &__cost {
        padding: 0 20px;
        display: inline-block;
    }

    &__currency {
        right: -6px;
        top: 0;
    }

    &__btn {
        margin-bottom: 10px;
        margin-left: -4px;
    }

    &__list {
        padding-left: 17px;
        margin-left: 9px;

        &:before {
            position: absolute;
            content: '';
            top: 5px;
            left: 0;
            height: 95%;
            width: 3px;
            background-color: $color-orange;
        }

        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }

    &__benefit {
        margin-bottom: 9px;
    }

    &__image {
        bottom: 70px;
        right: -185px;
        z-index: -1;

        img {
            top: 27px;
            left: -99px;
            width: 100%;
            max-width: 523px;
        }
    }
}